@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #b82a0b;
  --primary-gradient: #eb623e;
  --accent: #ff9b28;
  --accent-gradient: #e28821;
  --text-body: #2d0008;
  --text-subtitle: #6d4a50;
  --grey: #e4e4e4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  color: var(--text-body) !important;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}

h5 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

h6 {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}

button {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  border-radius: 100rem !important;
  padding: 0.6rem 1.7rem !important;
}

ul li {
  margin: 0 0.3rem;
}

ul li a {
  color: var(--text-body) !important;
}

.default-padding {
  padding: 0 8rem !important;
  max-width: 250rem;
}

.btn-filled-primary {
  background-color: var(--primary) !important;
  color: white !important;
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  background-color: transparent !important;
  color: var(--primary) !important;
}

.bg-white {
  background-color: white;
}

#navbar-logo img {
  height: 2rem;
}

#navbar-logo h4 {
  letter-spacing: -0.08rem;
}

header {
  height: 95vh;
}

.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
}

.z-100 {
  z-index: 100;
}

.z-50 {
  z-index: 50;
}

.z-10 {
  z-index: 10;
}

.z--10 {
  z-index: -10;
}

#hero-content {
  padding: 7.5rem 8rem;
}

#hero-img-1 {
  width: 29rem;
  padding: 0;
}

#hero-img-2 {
  width: 26rem;
  padding: 0;
}

.rounded-md {
  border-radius: 24px;
}

.rounded-sm {
  border-radius: 12px;
}

.text-subtitle {
  color: var(--text-subtitle) !important;
}
