@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common Desktop */

:root {
  --primary: #b82a0b;
  --primary-gradient: #eb623e;
  --accent: #ff9b28;
  --accent-gradient: #e28821;
  --text-body: #2d0008;
  --text-subtitle: #6d4a50;
  --grey: #d3d3d3;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  color: var(--text-body) !important;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative !important;
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 1920px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 !important;
  margin: 0 !important;
  color: var(--text-body) !important;
}

h1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 2rem !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 1.6rem !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}

p {
  font-size: 1.05rem !important;
}

button {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  border-radius: 100rem !important;
  padding: 0.6rem 1.7rem !important;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 0 0.3rem;
}

ul li a {
  color: var(--text-subtitle) !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.soft-shadow {
  box-shadow: 0px 4px 25px -3px rgba(0, 0, 0, 0.15) !important;
}

.default-padding {
  padding: 0 10rem !important;
  max-width: 250rem;
}

.btn-filled-primary {
  background-color: var(--primary) !important;
  color: white !important;
  transition-duration: 0.5s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
}

.btn-filled-primary:hover {
  transform: translateY(-6px);
  transition: 0.3s ease-out;
  animation-name: btn-hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes btn-hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  background-color: transparent !important;
  color: var(--primary) !important;
}

.bg-white {
  background-color: white;
}

.bg-primary-gradient {
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--primary-gradient) 100%
  );
}

.rounded-sm {
  border-radius: 12px;
}

.rounded-md {
  border-radius: 24px;
}

.section-title-img {
  width: 7.5rem !important;
}

.color-primary {
  color: var(--primary) !important;
}

.color-subtitle {
  color: var(--text-subtitle) !important;
}

.text-accent-gradient {
  background: linear-gradient(
    90deg,
    var(--accent) 0%,
    var(--accent-gradient) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small {
  font-size: 1rem !important;
}

.text-x-small {
  font-size: 0.75rem !important;
}

.text-logo {
  letter-spacing: -0.08rem;
}

.z--10 {
  z-index: -10;
}

hr {
  border-top: 2px var(--grey) solid !important;
}

.vr {
  border-left: 2px var(--grey) solid !important;
}

.reveal {
  position: relative;
  transform: translateX(-25px);
  opacity: 0;
  filter: blur(3px);
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
  filter: blur(0px);
}

/* Navbar Desktop */

#nav-logo-img {
  height: 2rem;
}

.nav-item {
  margin: 0rem 0.8rem !important;
}

/* Hero Desktop */

header {
  overflow-x: clip;
}

#hero {
  margin-top: 6rem;
  height: 82.5vh;
  max-height: 720px;
}

#hero-content {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}

#hero-img-1 {
  width: 29rem;
  padding: 0;
}

#hero-img-2 {
  width: 26rem;
  padding: 0;
}

/* About Desktop */

#about-description {
  line-height: 150%;
}

/* Showcase Desktop */

.showcase-col:nth-child(2) div,
.showcase-col:nth-child(5) div {
  transition-delay: 200ms;
}

.showcase-col:nth-child(3) div {
  transition-delay: 400ms;
}

.showcase-card-content {
  margin: 0.1rem !important;
}

.showcase-card-content p {
  margin-top: 0.7rem !important;
  line-height: 130%;
}

.showcase-col:hover div {
  cursor: pointer;
}

.showcase-col div div img {
  transform: scale(1) rotate(0deg);
  transition: 0.3s ease-in-out;
}

.showcase-col:hover div div img {
  transform: scale(1.1) rotate(-3deg);
  transition: 0.3s ease-in-out;
}

.bg-batik-top {
  top: 22rem;
  width: 14rem;
}

.bg-batik-bottom {
  bottom: 28rem;
  width: 24rem;
  opacity: 0.75;
}

/* Event Desktop */

#event-location-img {
  height: 24rem;
}

#event-background-img {
  width: fit-content;
  height: 16rem;
}

/* Organizer Desktop */

#organizer-banner {
  height: 8rem;
}

#organizer-img {
  width: 11rem;
  height: 11rem;
  margin-top: 4rem;
  border: 5px solid white;
}

#organizer-details {
  margin-top: 7rem;
}

.organizer-wayang-img {
  width: 12rem;
  top: 4rem;
}

.organizer-social-icon {
  width: 2.5rem;
}

.organizer-background-img {
  width: 40%;
}

/* Footer Desktop */

#footer-logo img {
  width: 3rem;
}

.footer-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Tablet Responsive */

@media only screen and (max-width: 768px) {
  /* Common Tablet */

  .default-padding {
    padding: 0 4rem !important;
  }

  /* Navbar Tablet */

  .nav-item {
    margin: 0.4rem 0rem !important;
  }

  .nav-item a p {
    font-size: 1.1rem !important;
  }

  /* Hero Tablet */

  #hero {
    margin-top: 8rem;
    height: 80vh;
  }

  #hero-content {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  #hero-img-1 {
    width: 30rem;
    left: -9rem;
    bottom: -4rem !important;
    overflow: hidden;
  }

  #hero-img-2 {
    width: 28rem;
    right: -6.5rem !important;
    bottom: -4.5rem !important;
  }

  #hero-background-img {
    object-fit: cover;
    height: 55rem !important;
  }

  /* Showcase Tablet */

  .showcase-card-image {
    height: 14rem;
  }

  .showcase-card-content {
    margin: 0.5rem !important;
  }

  .bg-batik-top {
    top: 17rem;
    width: 12rem;
  }

  .bg-batik-bottom {
    bottom: 22.5rem;
    width: 18rem;
  }

  /* Event Tablet */

  #event-location-img {
    height: 20rem;
  }

  #event-background-img {
    height: 15.5rem;
  }

  /* Organizer Tablet */

  .organizer-background-img {
    width: 46%;
  }

  /* Footer Tablet */

  #footer-logo img {
    width: 2.25rem;
  }

  #footer-logo h3 {
    font-size: 1.4rem !important;
  }
}

/* Mobile Responsive */

@media only screen and (max-width: 576px) {
  /* Common Mobile */

  .default-padding {
    padding: 0 2rem !important;
  }

  h1 {
    font-size: 2.2rem !important;
    font-weight: 700 !important;
  }

  h2 {
    font-size: 1.6rem !important;
    font-weight: 700 !important;
  }

  h3 {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
  }

  h4 {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
  }

  p {
    font-size: 0.9rem !important;
  }

  /* Hero Mobile */

  #hero {
    margin-top: 10rem;
    height: 70vh;
  }

  #hero-background-img {
    object-fit: cover;
    height: 39rem !important;
  }

  #hero-content {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  /* Showcase Mobile */

  .showcase-card-image {
    height: 12rem;
  }

  .showcase-card-content {
    margin: 1.2rem !important;
  }

  .bg-batik-top {
    top: 21rem;
    width: 15rem;
  }

  .bg-batik-bottom {
    bottom: 22rem;
    width: 22rem;
  }

  /* Event Mobile */

  #event-location-img {
    height: 16rem;
  }

  /* Organizer Mobile */

  #organizer-banner {
    height: 6rem;
  }

  #organizer-img {
    width: 8rem;
    height: 8rem;
    margin-top: 3rem;
  }

  #organizer-details {
    margin-top: 5.3rem;
  }

  #organizer-institute {
    text-align: left;
    width: 10.1rem;
    margin-left: 0.8rem !important;
  }

  .organizer-social-icon {
    width: 2.3rem;
  }
}

/* Mobile Responsive Ends */
